@media only screen and (max-width: 769px) {
    .container, .hero, .content {
        display: flex;
        flex-direction: column;
    }
    .content a h1{
        font-size: 18px;
    }
    .content .img {
        display: none;
    }
    .content .message {
        grid-column-start: 1;
        grid-column-end: 4!important;
        grid-row-start:2;
        grid-row-end: 4;
    }
    .content .message p{
        padding: 10px;

    }
    .content .btn {
        grid-column-start: 2;
        grid-column-end: 3!important;    
    }
}

@media only screen and (max-width: 769px) {
    nav{
        flex-direction: column;
        width: auto;
        margin: auto;
    }
    nav a{
        width: 100%;
        display: none;
    }
    nav a:first-of-type{
        margin-right: 0;
        display: inherit;

    }
    nav a img{
        margin-right: 0;
        display: inherit;

    }
    nav button{
        display: inherit!important;
        position: absolute;
        right: 10px;
        bottom: 0px;
        width: auto;
        background-color: #000;
        font-weight: bold;
        padding: 10px;
        color: white;
        font-size: 22px;
        border: none;
        vertical-align: middle;
    }

}
html {
    margin:-8px;
    padding: 0;
    margin-bottom: -15px;
    bottom: 0px;
    left: 0px;
    right:0px;
    font-family: 'Didact Gothic', sans-serif;
}
.container {
    display:grid;
    grid-template-columns: 20px auto auto auto 20px;
    grid-template-rows: auto auto auto auto 120px;
    top:0px;
    left:0px;
    position:relative;
}
nav{
    display: flex;
    flex-direction: row nowrap;
    width: auto;
    height: 70px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 10;
    font-size: 24px;
    border-bottom: 1px solid #FBE9C5;
}
nav a img{
    margin-right: 60px;
    height: 60px;
}
nav a{
    width: auto;
}
nav, nav a, footer, footer a{
    background-color: #000;
    color: #FFF;;
    text-decoration: none;
    align-items: center;
    padding: 10px;
    font-family: 'Maven Pro', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
}
nav a:hover, footer a:hover{
    color: white;
}
nav button{
    display: none;
}
.hero {
    background-image: url(img/stanmore_13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 40px 1fr 1fr 40px;
    grid-template-rows: 1fr 1fr 1fr; 
}
.text {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:2;
    grid-row-end: 3;
    font-family: 'Didact Gothic', sans-serif;
    color: white;
    text-align: center;
    /*    box-shadow: 24px 24px 16px #000;*/
}
.hero .text {
    width: 100%;
}
.hero .text img {

}
.content {
    grid-column-start:1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #FFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto; 
}
.content .title {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:1;
    grid-row-end: 2;
    background-color: #000;

}
.content .title h1 {
    font-size: 54px;
    color: #FFF;
    text-align: center;
}
.content .message {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end: 4;
    padding: 10px;
    font-size: 18px;
}
.message h1 {
    text-align: center;
}
.content input {
    width: 100%;
    font-size: 16px;
    margin: 5px;
}
.content .btn {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:5;
    grid-row-end: 6;
    border: none;
}
.btn a {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #000;
    padding: 20px;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
    font-size: 14px;
}
.content .btn a:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background-color: #444;
}

.content .btn h1 {
    text-align: center;
    text-decoration: none;
    color: white;
}
.content .img {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:2;
    grid-row-end: 6;
    background-image: url(img/hanwell_04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content .address {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end: 4;
    padding: 10px;
    font-family: 'Didact Gothic', sans-serif;
}
.content .card {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start:2;
    grid-row-end: 4;
    padding: 10px;
    font-family: 'Didact Gothic', sans-serif;
}
.content .buybtn {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:5;
    grid-row-end: 6;
    padding: 10px;
    font-family: 'Didact Gothic', sans-serif;
    height: 70px;
}
.buybtn a {
    width: 25%;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #000;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
    padding: 10px;
}
.buybtn h1 {
    margin: 0;
    text-align: center;
}
.content .buybtn a:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background-color: #444;
}
footer {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #000;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    left: 0px;
    right:0px;
}

.contact{
    background-image: url(img/hanwell_09.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: none;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 700px;
}
.about {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 15px;
    background-color: #333;
    color: #FFF;
}
.about p {
    font-size: 17px;

}
.about h1 {
    text-align: center;
    font-size: 40px;
}
.Cbody {
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
    font-size: 25px;
    padding: 0px;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;

}

.location{
    font-size: 20px;
    padding: 10px;
    font-family: 'Didact Gothic', sans-serif;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}

.email{
    text-align: center;
    margin-top: 360px;
}

.btn{
    border: 1px solid black;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Didact Gothic', sans-serif;
    cursor: pointer;
    margin: 10px;
}

